body {
    margin: 0;
    background-color: black;
    text-align: center;
    color: white;
    /* font-size: medium; */
}

/* unvisited link */
a:visited {
    color: white;
  }
  
/* visited link */
a:visited {
    color: darkred;
  }
  
p {
    font-size: 24px;
    font-family: fantasy;
}