body {
    margin: 0;
    background-color: black;
    text-align: center;
    color: white;
    font-size: medium;
}

/* unvisited link */
a:visited {
    color: gray;
  }
  
/* visited link */
a:visited {
    color: dimgray;
  }
  
p {
    font-size: 24px;
    font-family: fantasy;
}