body {
    margin: 25px 50px;
    background-color: black;
    color: white;
    /* font-size: medium; */
    font-family: fantasy;
}

/* unvisited link */
a:link {
    font-size: 24px;
    color: white;
}
  
/* visited link */
a:visited {
    font-size: 24px;
    color: darkred;
}
  
p {
    font-size: 24px;
    /* font-family: fantasy; */
}

h1 {
    text-align: center;
    font-size: 72px;
    /* font-family: fantasy; */
}